.reviews {
  padding: 20px;
}
.reviews_list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.reviews_listContent {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.63;
  color: #696969;
}
.reviews_listItem {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.63;
  color: #696969;
}
.reviews_listTitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.63;
  color: #696969;
}
.reviews_listContent {
  margin-left: 15px;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.63;
  color: #696969;
}
